<div id="parent">
  <div id="son">
    <a href="/"><img src="/shslogo.png" alt="University of New Mexico" style = "width: 250px; height: 37.5px" /></a>
  </div>
  <div id="daughter">
        <% if user_signed_in? %>

              <%= link_to "Profile", edit_user_registration_path %>

              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>

        <%else%>
            <%= link_to "Sign in", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>
        <%end%>
  </div>
</div>
<br><br><br>
